/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark-grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $light-grey;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($color: $light-grey, $amount: 20)
  }